<h1 class="text-3xl font-bold underline">
  Hello world!
</h1>

<ul class="flex space-x-4">
  <li><a mat-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white">Home</a></li>
  <li><a mat-button routerLink="/new-game" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white">New Game</a>
  </li>
  @if (isLoggedIn()) {
  <li><a mat-button routerLink="/load-game" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white">Load Game</a>
  </li>
  <li><a mat-button routerLink="/account" routerLinkActive="active" ariaCurrentWhenActive="page" class="text-white">Account</a>
  </li>
  } @else {
  <li>
    <button mat-button (click)="signIn()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Sign
      In</button>
  </li>
  }
</ul>